<div class="faq">
    <h1>FAQ</h1>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea laborum repellendus eius sint quia vitae debitis consequatur velit optio fugit, amet eligendi voluptatibus eaque voluptatem porro deleniti voluptatum ipsam, modi natus laudantium numquam perferendis necessitatibus omnis harum. Cupiditate perspiciatis ea optio accusamus veniam aperiam, sapiente quisquam quibusdam, sed omnis modi!</span>
    <br>
    <button (click)="goBack()">go back</button>
</div>