<h2>My Heroes</h2>
<h3>Login status: {{isLoggedIn}}</h3>

<app-add-hero (onAddHero)="addHero($event)"></app-add-hero>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <a routerLink="/detail/{{hero.id}}/position">
      <span class="position">{{hero.name}}'s Position</span> 
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>